body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0 0 18px rgb(8, 8, 8);
  color: #fff;
  background: radial-gradient(
    circle at center,
    rgb(250, 248, 248),
    rgb(127, 129, 129),
    rgb(48, 50, 50)
  );
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  padding: 5px;
}

h1 {
  margin: 12px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 50px;
  font-weight: 500;
  line-height: 50px;
}

h2 {
  text-align: center;
  margin: 0;
  font-size: 18px;
  text-shadow: 6px 4px 4px #4896c9;
}

h3 {
  left: auto;
  white-space: nowrap;
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

ul {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 15px;
}

li {
  list-style-type: none;
  padding: 6px;
}

hr {
  margin: 5px;
}

p {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
}

a {
  color: rgb(111, 171, 213);
}

footer {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.project {
  position: relative;
  display: block;
  margin: 20px auto;
  max-width: 300px;
  min-height: 540px;
  border-radius: 30px;
  padding: 10px;
  background: url(media/skyline.jpg) no-repeat center center;
  background-size: cover;
  border: 3px solid rgb(125, 159, 182);
  overflow: hidden;
  opacity: 0.7;
}

.conditions-heading {
  position: fixed;
  top: 18%;
}

#conditions {
  font-size: 18px;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  text-orientation: sideways;
  letter-spacing: 1px;
  margin-left: 5px;
}

#city {
  width: 70%;
  border: none;
  outline: none;
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 5px;
  color: rgb(123, 175, 212);
}

#search {
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: rgb(153, 152, 152);
  font-size: 12px;
  padding: 5px 8px;
}

#search:hover {
  background-color: rgb(165, 195, 215);
  border: 1px solid #fff;
  color: #fff;
  padding: 4px 7px;
  cursor: pointer;
}

.location-pin {
  display: flex;
  align-items: center;
  margin: 20px 0 0 40px;
}

.location-icon {
  width: 25px;
  margin-right: 5px;
}

.temperature {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: bold;
  padding: 10px;
  margin-top: 15px;
}

.currentTemp {
  display: flex;
}

.emoji {
  width: 80px;
}

.weather-forecast-daily {
  text-align: center;
  backdrop-filter: blur(15px);
  color: #fff;
  position: relative;
  top: 5px;
  border-radius: 20px;
  height: 70px;
  font-size: 13px;
}

.additional-temperature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grouping-emoji {
  margin-left: 10px;
}

.weekly-forecast-header {
  font-size: 20px;
  margin: 40px 0 0 0;
  padding-left: 10px;
}

.weather-forecast-weekly {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  font-size: 12px;
  margin: 0 5px 0 5px;
}

.row {
  overflow: hidden;
  line-height: 18px;
}

.col-2 {
  text-align: center;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  padding: 8px 3px 8px 3px;
  margin: 3px;
  border: 1px solid #fff;
}

.weekly-forecast-icon {
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-day {
  font-weight: bold;
  text-decoration: underline;
}

.weather-forecast-max {
  font-weight: bold;
}

.forecast-daily-readings {
  display: flex;
  flex-direction: column;
}
