body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0 0 18px rgb(8, 8, 8);
  color: #fff;
  background: radial-gradient(
    circle at center,
    rgb(219, 217, 217),
    rgb(127, 129, 129),
    rgb(48, 50, 50)
  );
}

h1 {
  margin: 12px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 50px;
  font-weight: 500;
}

h2 {
  margin: 0;
}

h3 {
  font-size: 16px;
  transform: rotate(90deg);
  position: absolute;
  letter-spacing: 3px;
  margin-right: auto;
}

.conditions-heading {
  display: inline-block;
  position: fixed;
  top: 30%;
}

ul {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

li {
  list-style-type: none;
  padding: 6px;
}

hr {
  margin: 5px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  padding: 5px;
}

p {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
}

a {
  color: rgb(111, 171, 213);
}

footer {
  display: block;
  text-align: center;
  margin-top: 10px;
}

#city {
  width: 70%;
  border: none;
  outline: none;
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 5px;
  color: rgb(123, 175, 212);
}

#search {
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: rgb(153, 152, 152);
  font-size: 12px;
  padding: 5px 8px;
}

#search:hover {
  background-color: rgb(165, 195, 215);
  border: 1px solid #fff;
  color: #fff;
  padding: 4px 7px;
  cursor: pointer;
}

.input-location {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 20px 0 0 40px;
}

.project {
  position: relative;
  display: block;
  margin: 20px auto;
  max-width: 300px;
  min-height: 540px;
  border-radius: 30px;
  padding: 12px;
  background: url(skyline.jpg) no-repeat center center;
  background-size: cover;
  border: 3px solid rgb(125, 159, 182);
  overflow: hidden;
  opacity: 0.7;
}

.forecast {
  text-align: center;
  background-color: #fff;
  color: black;
  position: relative;
  top: 5px;
  border-radius: 20px 20px 0 0;
  height: 70px;
  font-size: 14px;
}

.emoji {
  display: block;
  margin-left: auto;
  width: 75px;
  height: 75px;
  padding: 5px;
}

.currentTemp {
  display: flex;
}

.temperature {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: bold;
  padding: 10px;
}

.location {
  width: 25px;
  margin-right: 5px;
}

.grouping-emoji {
  margin-left: 10px;
}

.additional-temperature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grouping {
  display: flex;
}
